.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
}

.button {
  background-color: #a7136eb7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.button i {
  margin-right: 5px;
}