.card{
  background-color: rgba(20, 53, 125, 0.781);
  border: 2px solid #c3c6ce;
  border-radius: 1.5rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 -2em 2em rgba(0, 0, 0, 0.212);
  transition: 0.5s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.card:hover{
  transform: scale(1.02);
  box-shadow:
     inset 0 -.5em .5em rgba(54, 54, 54, 0.212),
           0 0  0 2px rgba(0, 0, 0, 0.758),
           0px 0px 10px 10px rgba(0, 0, 0, 0.696);
}

.image{
  background-color: white;
  width: 16rem;
  height: 8rem;
  object-fit: contain;
}

.detailCard{
  width: 100%;
  text-align: center;
  color: white;
  margin-right: 2px;
}
